@CHARSET'UTF-8';

h2{
backgrand-color: white;
color:green;
font-size: 17pt;
fot-family: coper Black;
}

h3{
backgrand-color: white;
color:red ;
font-size: 20pt;
fot-family: coper Black;
font-weight: Bold;
}
